$color-blue: #143D50;

.project-top-bar {
    background: $color-blue;
    display: flex;
    flex-flow: row nowrap;

    ul {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;

            &:not(:last-child)::after {
                content: '/';
            }
        }
    }

    .spacer {
        flex: 1 1 auto;
    }
}