@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
@import './includes/variables';
@import './includes/mixins';
@import './includes/project-header';
@import './includes/project-top-bar';
@import './includes/project-hero';
@import './includes/project-main';
@import './includes/project-footer';
@import './includes//project-mobile-nav';

.projects-generator-plugin-wrapper {
    font-family: $font-family-standard;
    font-weight: $font-weight-standard;
    background-color: #fff;
    display: relative;

    blockquote {
        border-color: $color-blue;
        font-style: italic;
        font-weight: $font-weight-semi-bold;
    }

    // Plugin global class
    .project-container {
        margin: 0 auto;
        max-width: 1260px;
        padding: 0 15px;

        @include screen-min(sm) {
            padding: 0 25px;
        }

        @include screen-min(md) {
            padding: 0 45px;
        }
    }
}