$color-blue: #143D50;
$font-family-standard: 'Open Sans', sans-serif;
$font-weight-standard: 300;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-size-nav: .8em;
$font-size-nav-sm: .6em;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;